/* Provide special style for every other event in special event list */
.even-block {
    background-color: #ccd5aeff;
    border: solid #a1a88a 3px;
    border-radius: 5px;
    padding: 10px;
}

.date {
    font-style: italic;
}