/* Specify background color and font for the body */
body {
    background-color: #faedcdff;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

/* Provide more space between text and edges of their containers */
main, .header {
    margin: 15px;
}

/* Specify background color and font for the header */
h1 {
    font-family: monospace;
    background-color: #d4a373ff;
    color: #42291a;
    margin-bottom: 0px;
}

/* Specific style for navbar */
.navbar {
    background-color: #d4a373ff;
    color: #281910;
    border:#42291a 6px;
    border-style: dotted none;
}

/* Remove normal style for unordered lists */
ul {
    list-style-type: none; 
}

/* Create better margin for all images */
img {
    margin: 10px;
}


/* Align caption with image itself not margin on image container */
figcaption {
    text-indent: 10px;
}

/* Specific style for map of shop's location */
.location-block {
    background-color: #ccd5aeff;
    border: solid #a1a88a 3px;
    border-radius: 5px;
    padding: 10px;
    max-width: fit-content;
}
