body {
    background-color: #faedcdff;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

main, .header {
    margin: 15px;
}
h1 {
    font-family: monospace;
    background-color: #d4a373ff;
    color: #42291a;
    margin-bottom: 0px;
}


.navbar {
    background-color: #d4a373ff;
    color: #281910;
    border:#42291a 6px;
    border-style: dotted none;
}

ul {
    list-style-type: none; 
}

img {
    margin: 10px;
}

figcaption {
    text-indent: 10px;
}

.location-block {
    background-color: #ccd5aeff;
    border: solid #a1a88a 3px;
    border-radius: 5px;
    padding: 10px;
    max-width: fit-content;
}
